# Dependencies
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Build output
.next
out

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# System files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

